.main{
    height:550px;
}
.courseBox{
    width:1100px;
    height:465px;
}
.pic{
    margin-top:-60px;
}
.bg{
    background-image:url(../../../assets/images/landing-bests/bgB2.svg);
}
.fonts{
    font-size:12px;
}